@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    background-color: rgb(133, 209, 205);
    background-size: cover;
}
nav{
    max-width: 900px;
    margin: auto;
    background-color: #6e9daf;
    font-size: 20px;
    margin-top: 50px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu > li:hover{
    background-color: rgb(86, 135, 182);
}
.sub-menu{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgb(116, 161, 190);
}
.menu li:hover .sub-menu{
    display: block;
}
.sub-menu li:hover{
background-color: #2d5869;
}
.sub-menu li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}