body{
    font-family: Arial, Helvetica;
    background: #5c98aa;

}

.menu{
    list-style: none;
    padding: 0;
    background: #98b9be;
    width: 90%;
    max-width: 1000px;
    margin: auto;
} /* Estilos para la clase "menu" establecida en el html */

.menu li a{
    text-decoration: none;
    color: rgb(26, 29, 22);
    padding: 20px;
    display: block;

} /* Reglas aplicadas a los recuadros */

.menu li{
    display: inline-block;
    text-align: center;

} /* Reglas aplicadas a las listas */

.menu li a:hover{
    background: #3e8f92;
} /* Cambia el color del recuadro al pasar el cursor encima */